{% extends "layout.html" %}
{% block content %}
<div class="text-center">
    <h1>Aplicaciones Móviles + Páginas Web</h1>
    
    <!-- Enlaces de TikTok y WhatsApp -->
    <div class="d-flex justify-content-center align-items-center gap-3 my-3">
        <div>
            <a href="https://www.tiktok.com/@mtodos.numricos" target="_blank" rel="noopener noreferrer" class="text-decoration-none fs-4">
                【ꚠ】
            </a>
            <span class="fw-bold">𝗧𝗶𝗸𝗧𝗼𝗸</span>
        </div>
        <div>
            <a href="https://wa.me/51994780673" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-success fs-4">
                【✆】
            </a>
            <span class="fw-bold">𝑾𝒉𝒂𝒕𝒔𝑨𝒑𝒑</span>
        </div>
    </div>
    
    <!-- Incluimos el código estático que generaste -->
    <div class="d-flex justify-content-center mt-4">
        {% include 'corazon.html' %}
    </div>
</div>
{% endblock %}